body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 50px;
  padding: 10px 15px;
  border: none;
  background-color: burlywood;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: 5px 5px;
}
